#middle .middle-left {
  display: none;
}

#countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color:#00694e;
  width: 300px;
  height: auto;
  margin: 10px 10px;
}

.country-details div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.country-details h3,
.country-details span,
.country-details p {
  text-align: center;
  margin: 5px 5px;
  font-family: p22-mackinac-pro, Times New Roman, serif;
}

.country-details h3 {
  font-size: 34px;
  margin: 5px 5px 10px 5px;
}

.country-details h3 a {
  text-decoration: none;
}

.country-details span {
  color: #00694e;
  font-size: 22px;
  font-weight: 600;
}

.country-details p {
  font-size: 20px;
}

.country-details:hover {
  cursor: pointer;
  background: #F9F7ED;
}

@media (min-width: 992px) {
  #middle .col-lg-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
